<!-- <div>
  <div class="dataList">
    <p *ngFor="let data of data"  class="listItem" (click)="dataClick(data)">{{data}}</p>
  </div>
  <form (submit)="enterSubmit()">
    <input type="text" placeholder="Type Something" [(ngModel)]="text" name="text" class="inputEnter" autocomplete="off">
  </form>
  <div class="inputContainer">
    <div>
      <input type="text" (mouseleave)="change1('input1')"   autocomplete="off" [value]="passData? passData: ''" id="myInput1" >
    </div>
    <div>
      <input type="text" (mouseleave)="change1('input2')"  autocomplete="off" id="myInput2" [value]="pass2Data? pass2Data: ''">
    </div>
    <div>
      <input type="text" (mouseleave)="change1('input3')"  autocomplete="off" id="myInput3" [value]="pass3Data? pass3Data: ''">
    </div>
  </div>
 
</div>




<div class="container">
  <div class="dataList">
    <p *ngFor="let data of listData" (click)="setData(data)" class="listItem">{{data}}</p>
  </div>
  <form (submit)="submit()">
    <input type="text" placeholder="Type Something" [(ngModel)]="enter" name="text" class="inputEnter" autocomplete="off">
  </form>
  <div class="inputContainer">
    <div>
      <input type="text" (focus)="focus('input1')"   autocomplete="off"  id="input1">
    </div>
    <div>
      <input type="text" (focus)="focus('input2')"  autocomplete="off" id="input2">
    </div>
    <div>
      <input type="text" (focus)="focus('input3')"  autocomplete="off" id="input3">
    </div>
  </div>
 
</div> -->


<div class="container">
   <div class="headerContainer">
      <span *ngFor="let data of arrayData" class="items" (click)="passData(data)">{{data}}</span>
      <form (submit)="setData()">
        <input type="text" placeholder="Type Soemthing" class="somethingInput" [(ngModel)]='text' name="text" autocomplete="off">
      </form>
   </div>
   <div class="mainContainer">
    <div class="inputContainer">
      <div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)" *ngIf="templateKeywords.length !== 0">
          <div cdkDrag  *ngFor="let timePeriod of templateKeywords;let i = index;" (click)="handleClick($event,i,'input1')" class="example-box">
            <span class="data" *ngIf="timePeriod !== ''">{{timePeriod}}</span>
            <mat-icon (click)="delete(i,'input1')" *ngIf="timePeriod !== ''">delete</mat-icon>
            <form class="formGroup" *ngIf="timePeriod === ''" (ngSubmit)="handleSubmit(i,'input1')">
                <input type="text" placeholder="input1" class="input inputChange" autocomplete="off" name="inputvalue" (keyup)="handleChange($event,i,'input1')">
            </form>
          </div>
      </div>
      <form (submit)="submitData()" class="formGroup">
        <input type="text" placeholder="input1" class="input" autocomplete="off" [(ngModel)]="inputValue" name="inputvalue" (keydown)="keyDown($event)" id="input1" (focus)="focus('input1')">
      </form>
    </div>

    <div class="inputContainer">
      <div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)" *ngIf="templateKeywords.length !== 0">
          <div class="example-box" cdkDrag  *ngFor="let timePeriod of templateKeywords1;let i = index;" (click)="handleClick($event,i,'input2')">
            <span class="data"  *ngIf="timePeriod !== ''">{{timePeriod}}</span>
            <mat-icon (click)="delete(i,'input2')" *ngIf="timePeriod !== ''">delete</mat-icon>
            <form class="formGroup" *ngIf="timePeriod === ''" (ngSubmit)="handleSubmit(i,'input2')">
              <input type="text" placeholder="input1" class="input inputChange" autocomplete="off" name="inputvalue" (keyup)="handleChange($event,i,'input2')">
          </form>
          </div>
      </div>
      <form (submit)="submitData()" class="formGroup">
        <input type="text" placeholder="input2" class="input" autocomplete="off" [(ngModel)]="inputValue1" name="inputvalue" (keydown)="keyDown($event)" id="input2" (focus)="focus('input2')">
      </form>
    </div>

    <div class="inputContainer">
      <div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)" *ngIf="templateKeywords.length !== 0">
          <div class="example-box" cdkDrag  *ngFor="let timePeriod of templateKeywords2;let i = index;" (click)="handleClick($event,i,'input3')">
            <span class="data" *ngIf="timePeriod !== ''">{{timePeriod}}</span>
            <mat-icon (click)="delete(i,'input3')" *ngIf="timePeriod !== ''">delete</mat-icon>
            <form class="formGroup" *ngIf="timePeriod === ''" (ngSubmit)="handleSubmit(i,'input3')">
              <input type="text" placeholder="input1" class="input inputChange" autocomplete="off" name="inputvalue" (keyup)="handleChange($event,i,'input3')">
          </form>
          </div>
      </div>
      <form (submit)="submitData()" class="formGroup">
        <input type="text" placeholder="input3" class="input" autocomplete="off" [(ngModel)]="inputValue2" name="inputvalue" (keydown)="keyDown($event)" id="input3" (focus)="focus('input3')">
      </form>
    </div>
   </div>
</div>


